<div class="jumbotron text-center">
    <h1>안드로이드 앱 개발</h1>
    <p>안드로이드 api를 사용</p>
</div>

<div class="row">
  <div class="col-xs-6 col-md-3">
    <a class="thumbnail">
      <img src="https://d99d92cb045a1a7cbab41e3d6d3841b6adbe38d0.googledrive.com/host/0B7aMBVMJCN9hVVpVNHdNZGdxR1k/Screenshot_2015-06-16-21-38-42.png">
    </a>
  </div>
  <div class="col-xs-6 col-md-3">
    <a class="thumbnail">
      <img src="https://d99d92cb045a1a7cbab41e3d6d3841b6adbe38d0.googledrive.com/host/0B7aMBVMJCN9hVVpVNHdNZGdxR1k/Screenshot_2015-06-16-21-43-47.png">
    </a>
  </div>
  <div class="col-xs-6 col-md-3">
    <a class="thumbnail">
      <img src="https://d99d92cb045a1a7cbab41e3d6d3841b6adbe38d0.googledrive.com/host/0B7aMBVMJCN9hVVpVNHdNZGdxR1k/Screenshot_2015-06-16-21-59-53.png">
    </a>
  </div>
  <div class="col-xs-6 col-md-3">
    <a class="thumbnail">
      <img src="https://d99d92cb045a1a7cbab41e3d6d3841b6adbe38d0.googledrive.com/host/0B7aMBVMJCN9hVVpVNHdNZGdxR1k/Screenshot_2015-06-16-21-43-51.png">
    </a>
  </div>
  <div class="col-xs-6 col-md-3">
    <a class="thumbnail">
      <img src="https://d99d92cb045a1a7cbab41e3d6d3841b6adbe38d0.googledrive.com/host/0B7aMBVMJCN9hVVpVNHdNZGdxR1k/Screenshot_2015-06-23-15-45-33.png">
    </a>
  </div>
  <div class="col-xs-6 col-md-3">
    <a class="thumbnail">
      <img src="https://d99d92cb045a1a7cbab41e3d6d3841b6adbe38d0.googledrive.com/host/0B7aMBVMJCN9hVVpVNHdNZGdxR1k/Screenshot_2015-06-23-15-51-53.png">
    </a>
  </div>
  <div class="col-xs-6 col-md-3">
    <a class="thumbnail">
      <img src="https://d99d92cb045a1a7cbab41e3d6d3841b6adbe38d0.googledrive.com/host/0B7aMBVMJCN9hVVpVNHdNZGdxR1k/Screenshot_2015-06-23-15-52-52.png">
    </a>
  </div>
  <div class="col-xs-6 col-md-3">
    <a class="thumbnail">
      <img src="https://d99d92cb045a1a7cbab41e3d6d3841b6adbe38d0.googledrive.com/host/0B7aMBVMJCN9hVVpVNHdNZGdxR1k/Screenshot_2015-06-23-20-03-59.png">
    </a>
  </div>
  
</div>

    <div class="row">
      <div class="alert alert-info" role="alert">
        <p>밀접한 거리에 있는 개인들끼리 필요한 서비스를 서로 주고받을 수 있게 중계 해주는 앱입니다. </p>
        <p>구글의 매터리얼 디자인을 참고하였습니다.</p>
        <p>서버쪽은 php로 코딩을 하였고 GCM을 이용한 푸쉬 알림 기능을 추가하였습니다.</p>
      </div>
    </div>

<div class="row">

    <!-- COLUMN ONE NAMED VIEW -->
    <div class="col-sm-5">
        
    </div>
    
    <!-- COLUMN TWO NAMED VIEW -->
    <div class="col-sm-7">

    </div>

</div>   